body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #222233;
}

header {
    background-color: #232323;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin: 0;
    top: 0px;
    opacity: 0.95;
}

.nav li {
    display: inline-block;
    width: 130px;
    text-align: center;
    position: relative;
    right: 40px;
}

.nav li:hover {
    font-weight: bold;
}

.nav {
    margin: 0;
    padding: 20px 0;

}

#sub-nav {
    padding: 0 0 20px 0;
}

#sub-nav li {
    height: 22px;
}

.nav a {
    color: white;
    text-decoration: none
}

.hide {
    display: none;
}

main {
    position: relative;
    top: 90px;
}

.next-previous {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 12px 30px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5px;
}

.next-previous:hover {
    background-color: #efefef;
}

#next {
    float: right;
}

#previous {
    float: left;
}

.upper-case {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}
